<!DOCTYPE html>
<html>
  <body>
    <div style="font-weight: 800; font-size: 5vmin" class="align-center-scale">
      <h5>
        This canvas is updated every 100ms by default (you can change the
        interval in html)
      </h5>
    </div>

    <video id="video" style="display: none" autoplay playsinline></video>
    <canvas id="canvas" style="display: none" width="400" height="300"></canvas>
    <div style="border-radius: 10px" class="align-center-scale">
      <img
        id="client"
        class="video"
        src="https://cdn.discordapp.com/attachments/848543264783990804/1051901701654851705/face.gif"
        alt="screen"
      />
    </div>

    <div class="align-center-scale" style="padding-top: 20px">
      <button
        style="
          width: 15vmin;
          height: auto;
          font-size: 4vmin;
          border-radius: 10px;
          background: linear-gradient(90deg, #66b6ea, #8743ff);
          cursor: pointer;
        "
        onclick="Mode()"
      >
        Click
      </button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      var canvas = document.getElementById("canvas");
      var context = canvas.getContext("2d");
      var video = document.getElementById("video");
      var img = document.getElementById("client");
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      var mode = true;

      video.width = 400;
      video.height = 300;

      // Scale the graph canvas accordingly to the window size
      var widthupdate = window.innerWidth * 0.6;
      var heightupdate = window.innerHeight * 0.5;

      function Mode() {
        if (mode == true) {
          mode = false;
          var ws = new WebSocket(
            ws_scheme + "://" + window.location.host + "/"
          );
          ws.onopen = (event) => {
            console.log("websocket connected!!!");
          };
          ws.onmessage = (event) => {
            //console.log("WebSocket message received: ", event.data);
            frameUpdate = event.data;
            img.src = "data:image/jpeg;base64," + frameUpdate;
          };
          ws.onclose = (event) => {
            console.log("Close");
          };
          if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices
              .getUserMedia({ video: true })
              .then(function (stream) {
                video.srcObject = stream;
                video.play();
                var width = video.width;
                var height = video.height;
                var delay = 100; // adjust the delay to fit your needs (ms)
                var jpegQuality = 0.7; // adjust the quality to fit your needs (0.0 -> 1.0)

                setInterval(function () {
                  context.drawImage(video, 0, 0, width, height);
                  canvas.toBlob(
                    function (blob) {
                      if (ws.readyState == WebSocket.OPEN) {
                        if (mode == true) {
                          ws.send(new Uint8Array([]));
                        } else {
                          ws.send(blob);
                        }
                      }
                    },
                    "image/jpeg",
                    jpegQuality
                  );
                }, delay);
              });
          }
        } else if (mode == false) {
          mode = true;
          video.pause();
          video.srcObject.getVideoTracks()[0].stop();
          video.srcObject = null;
        }
      }
    </script>
  </body>
</html>